<nav class="navbar" style="background-color: #e7f5e6;">
    <div class="container-fluid">
        <img src="https://i.imgur.com/MhhJt15.png" [routerLink]="['/home']" class="navbar-brand">
    <div class="left">
        <button type="button" class="btn" [routerLink]="['/home']"><h4>Inicio</h4></button>
        <button type="button" class="btn"><h4>Gastos</h4></button>
    </div>
    <div class="right">
        <button type="button" class="btn btn-outline-success" [routerLink]="['/login']">Iniciar Sesión</button>
    </div>
    </div>
</nav>
  
<h1>
    Registrate en Mi <span class="highlight">Gasto</span> Seguro
</h1>

<h5 class="text2">
    ¡Olvidate de las hojas de calculo y manten
    organizados cada uno de tus gastos con "Mi Gasto Seguro"!
</h5>
  
<form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
    <img src="https://i.imgur.com/gqJrHHl.png" class="image">
    <div class="mb-4">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="username" name="username" ngModel required>
        <div class="error-message" *ngIf="errorMessages['Usuario']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMessages['Usuario'] }}
        </div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" name="email" ngModel required>
        <div class="error-message" *ngIf="errorMessages['Correo']">
            <i class="fas fa-exclamation-circle"></i> {{ errorMessages['Correo'] }}
        </div>
    </div>
    <div class="col-md-4">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" class="form-control" name="password" ngModel required>
        <div class="error-message" [ngClass]="{'password-error': errorMessages['Contrasena'], 'password-no-error': !errorMessages['Contrasena']}">
            <i class="fas fa-exclamation-circle"></i> {{ errorMessages['Contrasena'] || 'Tu contraseña debe tener de 8-20 carácteres, contener letras y números y al menos un carácter especial, sin espacios.' }}
        </div>        
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="privacyPolicy" name="privacyPolicy" ngModel required>
            <label class="form-check-label" for="privacyPolicy">He leído y acepto la <a class="link-opacity-50-hover" href="/privacy-policy">política de privacidad</a></label>
            <div class="error-message" *ngIf="errorMessages['Politica']">
                <i class="fas fa-exclamation-circle"></i> {{ errorMessages['Politica'] }}
            </div>
        </div>
        <div class="buttonRegistrarme">
            <button type="submit" class="btn btn-lg custom-green-button">Registrarme</button>
        </div>
    </div>
</form>

  
  