/* Barra de navegación */

.right {
    margin-left: auto;
}

.right button {
    margin-right: 10px;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo {
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}

.btn {
    color: black;
}

.navbar-brand {
    margin-left: 0;
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(110, 112, 211);
    height: 80px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left button {
    margin-right: 5px;
    color: black;
  }
  
.container-fluid {
  display: flex;
  align-items: center;
}

.FinanciebotAI {
    width: 350px;
    height: auto;
    height: 20px;
    position: absolute;
    right: 40px;
    top: 145px;
}

/* Contenido */

#map {
	height: 500px;
	width: 100%;
}

h1 {
    width: 550px;
    height: auto;
    position: absolute;
    left: 200px;
    top: 20%;
    font-size: 50px;
}

.highlight {
    color: green;
}

.descripcion {
    height: auto;
    left: 170px;
    position: absolute;
    top: 35%;
}

.r_descripcion {
    height: auto;
    left: 180%;
    position: absolute;
    top: -5%;
    width: 300%;
}

.monto {
    height: auto;
    left: 170px;
    position: absolute;
    top: 40%;
}

.r_monto {
    height: auto;
    left: 318%;
    position: absolute;
    top: -5%;
    width: 200%;
}

.fecha {
    height: auto;
    left: 170px;
    position: absolute;
    top: 45%;
}

.r_fecha {
    height: auto;
    left: 339%;
    position: absolute;
    top: -5%;
    width: 300%;
}

.lugar {
    height: auto;
    left: 170px;
    position: absolute;
    top: 50%;
}

.r_lugar {
    height: auto;
    left: 357%;
    position: absolute;
    top: -5%;
    width: 950%;
}

.metodoPago {
    height: auto;
    left: 170px;
    position: absolute;
    top: 55%;
}

.r_metodoPago {
    height: auto;
    left: 133%;
    position: absolute;
    top: -5%;
    width: 200%;
}

.frecuencia {
    height: auto;
    left: 170px;
    position: absolute;
    top: 60%;
}

.r_frecuencia {
    height: auto;
    left: 194%;
    position: absolute;
    top: -5%;
    width: 200%;
}

.categoria {
    height: auto;
    left: 170px;
    position: absolute;
    top: 65%;
}

.r_categoria {
    height: auto;
    left: 217%;
    position: absolute;
    top: -5%;
    width: 200%;
}

.notas {
    height: auto;
    left: 170px;
    position: absolute;
    top: 70%;
}

.r_notas {
    height: auto;
    left: 121%;
    position: absolute;
    top: -5%;
    width: 300%;
}

.place-info-card {
    border: 1px solid #e7f5e6;
    padding: 15px;
    margin-top: 6%;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 250px;
    float: right;
    margin-right: 40px;
}

.place-info-card h5 {
    margin: 0;
    color: #333;
}

.place-info-card p {
    margin: 5px 0;
}

.place-image {
    width: 200px;
}

.exchange-rate-section {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .exchange-rate-section table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .exchange-rate-section th,
  .exchange-rate-section td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .exchange-rate-section th {
    background-color: #e7f5e6;
  }
  