<nav class="navbar" style="background-color: #e7f5e6;">
  <div class="container-fluid">
    <img src="https://i.imgur.com/MhhJt15.png" [routerLink]="['/home']" class="navbar-brand">
    <div class="left">
      <button type="button" class="btn" [routerLink]="['/home']"><h4>Inicio</h4></button>
      <button type="button" class="btn"><h4>Gastos</h4></button>
      <button type="button" class="btn" [routerLink]="['/personal-income']"><h4>Ingresos</h4></button>
      <button type="button" class="btn" [routerLink]="['/personal-report']"><h4>Informe</h4></button>
    </div>
    <div class="right">
      <button type="button" class="btn btn-outline-success" [routerLink]="['/exchange-rates']">Ver tasas de monedas</button>
      <button type="button" class="btn btn-outline-success" [routerLink]="['/my-account']">Mi cuenta</button>
    </div>
  </div>
</nav>

<div class="expense-details-container">
  <h1 class="page-title">Detalles del <span class="highlight">gasto</span></h1>

  <div class="expense-details-card" *ngIf="expenseDetails">
    <div class="detail-group">
      <h4 class="detail-label">Descripción</h4>
      <h4 class="detail-value">{{ expenseDetails.Description_Expense }}</h4>
    </div>

    <div class="detail-group">
      <h4 class="detail-label">Monto</h4>
      <h4 class="detail-value">{{ expenseDetails.Amount_Expense | currency }}</h4>
    </div>

    <div class="detail-group">
      <h4 class="detail-label">Fecha</h4>
      <h4 class="detail-value">{{ expenseDetails.Date_Expense | date:'mediumDate' }}</h4>
    </div>

    <div class="detail-group">
      <h4 class="detail-label">Lugar</h4>
      <h4 class="detail-value">{{ expenseDetails.Place_Expense }}</h4>
    </div>

    <div class="detail-group">
      <h4 class="detail-label">Método de pago</h4>
      <h4 class="detail-value">{{ expenseDetails.Payment_Method }}</h4>
    </div>

    <div class="detail-group">
      <h4 class="detail-label">Frecuencia</h4>
      <h4 class="detail-value">{{ expenseDetails.Frequency_Expenses }}</h4>
    </div>

    <div class="detail-group">
      <h4 class="detail-label">Categoría</h4>
      <h4 class="detail-value">{{ expenseDetails.CategoryPersonal }}</h4>
    </div>

    <div class="detail-group">
      <h4 class="detail-label">Notas adicionales</h4>
      <h4 class="detail-value">{{ expenseDetails.Notes }}</h4>
    </div>
  </div>

  <div *ngIf="placeInfo" class="place-info-card">
    <h4>Información del Lugar</h4>
    <p><strong>Nombre del lugar:</strong> {{ placeInfo.text || 'No disponible' }}</p>
    <p><strong>Dirección:</strong> {{ placeInfo.place_name || 'No disponible' }}</p>
    <img *ngIf="placeImageUrl" [src]="placeImageUrl" alt="Imagen del lugar" class="place-image">
    <div id="map"></div>
  </div>
</div>