/* Barra de navegación */

.right {
    margin-left: auto;
}

.right button {
    margin-right: 10px;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo {
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}

.btn {
    color: black;
}

.navbar-brand {
    margin-left: 0;
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(110, 112, 211);
    height: 80px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left button {
    margin-right: 5px;
    color: black;
  }
  
.container-fluid {
  display: flex;
  align-items: center;
}

.FinanciebotAI {
    width: 350px;
    height: auto;
    height: 20px;
    position: absolute;
    right: 40px;
    top: 145px;
}

/* Contenido */

.buttonNew {
    height: auto;
    position: absolute;
    top: 16%;
    left: 5%;
}

.custom-green-button {
    background-color: #5db672;
    border-color: #8ae9a0;
    color: #ffffff;
}
  
.custom-green-button:hover {
    background-color: #46dd67;
    border-color: #68e685;
}

h1 {
    width: 550px;
    height: auto;
    position: absolute;
    left: 200px;
    top: 50px;
    margin-top: 3%;
    font-size: 50px;
}

.highlight {
    color: green;
}

.expenses-table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    border-radius: 25px;
    align-items: center;
    margin-left: 5%;
    margin-top: 8%;
}

.expenses-table th,
.expenses-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.expenses-table th {
    background-color: #49454f;
    color: white;
}

.expenses-table th:first-child,
.expenses-table td:first-child {
    width: 55%;
}

.expenses-table th:nth-child(2),
.expenses-table td:nth-child(2) {
    width: 20%;
}

.expenses-table th:last-child,
.expenses-table td:last-child {
    width: 25%;
}
