/* Barra de navegación */

.right {
    margin-left: auto;
}

.right button {
    margin-right: 10px;
}

.left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo {
    color: black;
    margin-left: 10px;
    margin-right: 5px;
}

.btn {
    color: black;
}

.navbar-brand {
    margin-left: 0;
    width: 150px;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(110, 112, 211);
    height: 80px;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left button {
    margin-right: 5px;
    color: black;
  }
  
.container-fluid {
  display: flex;
  align-items: center;
}


/* Contenido */

.buttonSkip {
    height: auto;
    position: absolute;
    top: 72%;
    right: 18%;
}

.custom-green-button {
    background-color: #5db672;
    border-color: #8ae9a0;
    color: #ffffff;
}
  
.custom-green-button:hover {
    background-color: #46dd67;
    border-color: #68e685;
}

.highlight {
    color: green;
}

.video {
    margin-top: 6%;
    text-align: center;
}

.container {
    width: 950px; /* Ancho fijo */
    height: auto; /* Altura automática */
    position: absolute; /* Posicionamiento absoluto */
    left: 50%; /* Posicionar en el centro horizontalmente */
    top: 50px; /* Distancia desde la parte superior */
    transform: translateX(-50%); /* Ajustar hacia la izquierda por la mitad de su ancho */
    margin-top: 3%; /* Margen superior */
    font-size: 50px; /* Tamaño de fuente */
    text-align: center; /* Centrar texto */
}
